html {
	box-sizing: border-box;
	font-size: calc(100% + .1vw);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

/* mobile first */

.page-head {
	width: 100%;
}

.page-heading {
	margin: 1rem 0;
	text-align: center;
	font: 400 2rem/normal 'Fredoka One', cursive;
	color: #363732;
}

#card-grid {
	width: 96%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: .6rem;
	list-style-type: none;
	border-radius: .7rem;
	background-color: #e1e5ed;
}

.card, .matched {
	width: 23%;
	height: 20.6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .3rem 0;
	border-radius: .5rem;
	background: linear-gradient(to bottom, #3d91c7, #3fa6cc);
	cursor: pointer;
	transition: .5s ease;
}

.matched {
	transition: 0s;
	background: #3F3047;
	cursor: auto;
}

.open {
	transition: 1s ease;
	transform: rotateY(180deg);
	cursor: auto;
}

.fa-card {
	font-size: 1.8rem;
	color: #fff;
	opacity: 0.1;
	transition: opacity 0s ease;
	transition-delay: 0s;
}

.open .fa-card {
	opacity: 1;
	transform: rotateY(-180deg);
	transition: opacity .5s ease;
	transition-delay: .5s;
}

.matched .fa-card {
	opacity: 1;
	color: #fff;
}

#card-grid li:nth-child(-n+4) {
	margin-top: 0;
}

#card-grid li:nth-last-child(-n+4) {
	margin-bottom: 0;
}

.rating-restart {
	width: 96%;
	display: flex;
	justify-content: space-around;
	margin: 0 0 1rem;
	font: 700 1rem/normal 'Cabin', sans-serif;
	color: #363732;
}

/* media queries */

@media screen and (min-width: 40.625em) {

	#card-grid {
		padding: .9rem;
	}

	.page-heading {
		font: 400 2.5rem/normal 'Fredoka One', cursive;
	}

	.rating-restart {
	font: 700 1.2rem/normal 'Cabin', sans-serif;
	}

	.moves {
		margin-left: 7%;
	}

	.restart {
		margin-right: 7%;
	}

}

@media screen and (min-width: 46.25em) {

	#card-grid {
		width: 88%;
		padding: 1.1rem;
	}

	.card, .matched {
		height: 20vw;
		max-height: 160px;
	}

	.moves {
		margin-left: 9%;
	}

	.restart {
		margin-right: 9%;
	}

	.fa-card {
		font-size: 2.2rem;
	}

}

@media screen and (min-width: 55em) {

	#card-grid {
		width: 79%;
		max-width: 760px;
	}

	.card, .matched {
		height: 17.5vw;
		max-height: 165px;
	}

	.moves {
		margin-left: 11%;
	}

	.restart {
		margin-right: 11%;
	}

}

@media screen and (min-width: 64em) {

	#card-grid {
		width: 71%;
		padding: 1.3rem;
	}

	.card, .matched {
		height: 15vw;
	}

	.rating-restart {
		max-width: 760px;
		margin: 0 auto 1rem;
	}

	.moves {
		margin-left: 5%;
	}

	.stars {
		margin-right: 6%;
	}

	.restart {
		margin-right: 5%;
	}

}
