html {
	box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

/* mobile first */

.page-head {
	width: 100%;
}

.page-heading {
	margin: 1rem 0;
	text-align: center;
	font: 400 2rem/normal 'Fredoka One', cursive;
	color: #363732;
}

#card-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.single-list-item {

}

/* media queries */
