html {
	box-sizing: border-box;
	font-size: calc(100% + .1vw);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

/* mobile first */

.page-head {
	width: 100%;
}

.page-heading {
	margin: 1rem 0;
	text-align: center;
	font: 400 2rem/normal 'Fredoka One', cursive;
	color: #363732;
}

#card-grid {
	width: 96%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: .6rem;
	list-style-type: none;
	border-radius: .7rem;
	background-color: #dce1e9;
}

.list-item {
	width: 23%;
	height: 20.6vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .3rem 0;
	border-radius: .5rem;
	background-color: #66c3ff;
}

.list-item:nth-child(-n+4) {
	margin-top: 0;
}

.list-item:nth-last-child(-n+4) {
	margin-bottom: 0;
}

.rating-restart {
	width: 96%;
	display: flex;
	justify-content: space-around;
	margin: 0 0 1rem;
	font: 700 1rem/normal 'Cabin', sans-serif;
	color: #363732;
}

/* media queries */
